:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #f0f5ff;
}

.form-container {
  width: 60vh;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
}
